/* margin is outside border */
/* 
    auto - the browser calculates the margin
    length - specifies a margin in px, pt, cm, etc.
    % - specifies a margin in % of the width of the containing element
    inherit - specifies that the margin should be inherited from the parent element
*/
.margin{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    /* or */
    margin: 100px 150px 100px 80px;
}
.margin-inherit{
    margin-left: inherit;
}

/* the margin will collapse into 50px */
h1 {
    margin: 0 0 50px 0;
}
  
h2 {
    margin: 20px 0 0 0;
}